h1{color: blue;font-family: sans-serif;}
h2{background-color: grey;text-transform: uppercase;}
body {text-indent: 2em}
p{text-align: center;}
li{line-height: 200%}
article {float: left;width: 30%}
p {float: left;}
a:hover {text-decoration: none;color: green;}
@media only screen and (max-width: 480px) {
	.column {width: 100%;}
	body{ background-color: ivory; }
}
@media screen {body {color: blue;}}